@import "tailwindcss";

:root {
    --color1: #333333;
    --color2: #f8f8f8;
    --color3: #004C78;
}

html, body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.crece {
    @apply hover:scale-105 transition-transform duration-300 inline-block;
}
