---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../layouts/Navbar.tsx";
import Footer from "../layouts/Footer.tsx";
---

<MainLayout>
  <Navbar client:load />

  <h1 class="text-4xl font-bold text-center mt-40 text-stone-800">
    About
  </h1>

  <Footer client:load />
</MainLayout>
