---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/ui/Button";
import Navbar from "../layouts/Navbar.tsx";
import Footer from "../layouts/Footer.tsx";
---

<MainLayout>
  <Navbar client:load />

  <h1 class="text-4xl font-bold text-center mt-40">
    Welcome to Green Country
  </h1>

  <div class="flex justify-center mt-6">
    <Button client:load text="Contact Us" />
  </div>

  <Footer />
</MainLayout>
