---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../layouts/Navbar.tsx";
import Footer from "../layouts/Footer.tsx";
import CallToAction from "../layouts/CallToAction.tsx";
import ImageGallery from "../components/ImageGallery.tsx";
import HeroImage from "../components/HeroImage.tsx";
import Texto from "../components/Texto.tsx";
import HomeCarousel from "../components/HomeCarousel.tsx";
---

<MainLayout>
  <Navbar client:load />

    <div class="mt-27"></div>

    <HomeCarousel client:load />


    <div class="bg-stone-100 mx-auto px-4 md:px-12 py-12">
        <div class="grid grid-cols-1 gap-8">
        <div class="flex flex-col justify-center" data-aos="fade-up">
            <h1 class="text-2xl md:text-4xl font-bold text-stone-800">
            Landscaping services and nursery products in Idaho
            </h1>
            <p class="text-stone-700 leading-relaxed pb-6">
                We provide professional landscaping, hardscaping, lawn care, and nursery services designed to enhance and maintain beautiful outdoor spaces.
            </p>
        </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="bg-white md:m-4 p-8 mb-4 rounded-lg border border-stone-200" data-aos="fade-up">
                <lord-icon
                    src="https://cdn.lordicon.com/eawkcgwr.json"
                    trigger="loop"
                    stroke="light"
                    colors="primary:#0d542b,secondary:#00a63e"
                    style="width:200px;height:200px; display:block; margin: 0 auto;">
                </lord-icon>
                <h3 class="text-center text-2xl font-bold text-stone-800 mb-4">Landscape</h3>
                <p class="text-stone-700 leading-relaxed">
                    We design and install beautiful, functional landscapes tailored to your property and vision. From plant selection to complete outdoor transformations, our team delivers quality and lasting results.
                </p>
            </div>

            <div class="bg-white md:m-4 p-8 mb-4 rounded-lg border border-stone-200" data-aos="fade-up" data-aos-delay="200">
                <lord-icon
                    src="https://cdn.lordicon.com/stqpqzpu.json"
                    trigger="loop"
                    stroke="light"
                    colors="primary:#0d542b,secondary:#00a63e"
                    style="width:200px;height:200px; display:block; margin: 0 auto;">
                </lord-icon>
                <h3 class="text-center text-2xl font-bold text-stone-800 mb-4">Hardscape</h3>
                <p class="text-stone-700 leading-relaxed">
                We design and install high-quality hardscape features such as patios, walkways, retaining walls, and outdoor living spaces. Our team combines creativity with technical expertise.
                </p>
            </div>

            <div class="bg-white md:m-4 p-8 mb-4 rounded-lg border border-stone-200" data-aos="fade-up" data-aos-delay="400">
                <lord-icon
                    src="https://cdn.lordicon.com/dfarnxxi.json"
                    trigger="loop"
                    stroke="light"
                    colors="primary:#0d542b,secondary:#00a63e"
                    style="width:200px;height:200px; display:block; margin: 0 auto;">
                </lord-icon>
                <h3 class="text-center text-2xl font-bold text-stone-800 mb-4">Lawn care</h3>
                <p class="text-stone-700 leading-relaxed">
                We provide comprehensive lawn care services including mowing, fertilization, aeration, and pest control. Our team uses high-quality products and sustainable practices.
                </p>
            </div>
        </div>
    </div>

	<HeroImage text="Bringing life back to your landscape" image="nursery2-greencountry.webp" />

    <div class="container bg-white mx-auto px-4 pt-12">
        <div class="grid grid-cols-1 gap-8">
            <div class="flex flex-col justify-center" data-aos="fade-up">
                <h2 class="text-2xl md:text-4xl font-bold text-stone-800">
                    Nursery products in Idaho
                </h2>
                <p class="text-stone-700 leading-relaxed">
                    Our nursery offers a wide selection of high-quality trees, shrubs, ornamental plants, and seasonal varieties suited for Idaho’s climate.
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-white mx-auto px-4 pt-6 pb-12">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <div class="grid gap-6" data-aos="fade-up">
                <div>
                    <ImageGallery image="nurserygallery6-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="100">
                <div>
                    <ImageGallery image="nurserygallery4-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="200">
                <div>
                    <ImageGallery image="nurserygallery12-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <ImageGallery image="nurserygallery10-greencountry.webp" />
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-8" data-aos="fade-up" data-aos-delay="400">
            <a href="/projects/" class="boton crece" data-aos="zoom-in">
              View more nursery products
            </a>
        </div>
    </div>


  	<HeroImage text="Your outdoor vision, expertly crafted" image="services4-greencountry.webp" />

    <div class="container bg-white mx-auto px-4 pt-12">
        <div class="grid grid-cols-1 gap-8">
            <div class="flex flex-col justify-center" data-aos="fade-up">
                <h2 class="text-2xl md:text-4xl font-bold text-stone-800">
                    Projects and portfolio
                </h2>
                <p class="text-stone-700 leading-relaxed">
                    Explore our recent projects and see the quality craftsmanship that defines Green Country Landscaping Services LLC.
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-white mx-auto px-4 pt-6 pb-12">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <div class="grid gap-6" data-aos="fade-up">
                <div>
                    <ImageGallery image="project1-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="100">
                <div>
                    <ImageGallery image="project5-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="200">
                <div>
                    <ImageGallery image="project7-greencountry.webp" />
                </div>
            </div>
            <div class="grid gap-4" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <ImageGallery image="project11-greencountry.webp" />
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-8" data-aos="fade-up" data-aos-delay="400">
            <a href="/projects/" class="boton crece" data-aos="zoom-in">
              View more projects
            </a>
        </div>
    </div>


	<CallToAction />
    <Footer client:load />
</MainLayout>
