---
import "aos/dist/aos.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Green Country Landscaping Services LLC | Professional Lawn Care & Landscaping in Idaho, USA</title>
    <link rel="shortcut icon" type="image/png" href="/icons/favicon-greencountry.png" >
    
    <!-- Meta Tag Manager -->

    <!-- Open Graph Protocol -->
    <meta property="og:type" content="website" >
    <meta property="og:title" content="Green Country Landscaping Services LLC | Professional Lawn Care & Landscaping in Idaho, USA">
    <meta property="og:description" content="At Green Country Landscaping Services LLC, we provide top-notch lawn care and landscaping services in Idaho, USA. Our team is dedicated to enhancing the beauty and health of your outdoor spaces with professional and reliable solutions." >
    <meta property="og:keywords" content="Green Country Landscaping Services LLC, lawn care Idaho, landscaping Idaho, professional lawn care, landscaping services, outdoor spaces Idaho, reliable landscaping, lawn maintenance Idaho, landscaping company Idaho, Idaho landscaping experts">
    <meta property="og:image" content="/img/logo-transparente-greencountry.png" >
    <meta property="og:image:type" content="image/png" >
    <meta property="og:image:width" content="750" >
    <meta property="og:image:height" content="300" >
    <meta property="og:image:alt" content="Green Country Landscaping Services LLC" >
    <meta property="og:url" content="https://greencountryls.com">
    <meta property="og:site_name" content="Green Country Landscaping Services LLC">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="greencountryls.com">
    <meta property="twitter:url" content="https://greencountryls.com">
    <meta name="twitter:title" content="Green Country Landscaping Services LLC | Professional Lawn Care & Landscaping in Idaho, USA">
    <meta name="twitter:description" content="At Green Country Landscaping Services LLC, we provide top-notch lawn care and landscaping services in Idaho, USA. Our team is dedicated to enhancing the beauty and health of your outdoor spaces with professional and reliable solutions.">
    <meta name="twitter:image" content="/img/logo-transparente-greencountry.png">


    <meta name="keywords" content="Green Country Landscaping Services LLC, lawn care Idaho, landscaping Idaho, professional lawn care, landscaping services, outdoor spaces Idaho, reliable landscaping, lawn maintenance Idaho, landscaping company Idaho, Idaho landscaping experts">
    <meta name="description" content="At Green Country Landscaping Services LLC, we provide top-notch lawn care and landscaping services in Idaho, USA. Our team is dedicated to enhancing the beauty and health of your outdoor spaces with professional and reliable solutions." >
    <meta name="robots" content="index" >
    <meta name="robots" content="follow" >
    
    <!-- Preconnect (mejora performance) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=Poppins:wght@200;400;800&display=swap" rel="stylesheet">

  </head>
  <body>
    <slot />
    <!-- LordIcon Library -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </body>
</html>
