---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Green Country</title>
    
    <!-- Preconnect (mejora performance) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=Poppins:wght@200;400;800&display=swap" rel="stylesheet">

  </head>
  <body class="bg-gray-50 text-gray-800">
    <slot />
  </body>
</html>
